/*
 * Local Bacalhau node configuration (for end-to-end test)
 */

bacalhau {
    bacalhauCliPath   = 'bacalhau'
    bacalhauNode      = 'http://localhost:1234'
    waitForCompletion = true
    maxRetries        = 1
    storageEngine     = 'local'
}

process {
    executor  = 'bacalhau'
    container = 'ubuntu:latest'
    cpus      = 1
    memory    = '512.MB'
    time      = '5m'
}

docker {
    enabled    = true
    runOptions = '--rm'
}
